fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
requests
aiofiles
langchain==0.2.16
langchain-community==0.2.16
langchain-google-genai
chromadb
langchain-chroma==0.1.4
langchain-text-splitters==0.2.4
pypdf
groq
pydub
soundfile
python-telegram-bot
